{% load static %}
<html>
    <head>
        <title>Add New Lot</title>
        <link rel="stylesheet" href="{% static 'lotOwners/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Big Blue Parking Genie Lot Administration Panel</h1>
            <p>Signed in as Prototype User. (not you? <a href="./logout">logout</a>)</p>
        </header>
    <form action="../../api" method="post">
        {{ form.as_p }}
        <button type="submit" name="submit">Submit</button>
    </form>
    </body>
</html>
