{% load static %}
<html>
    <head>
        <title>Lot Administration Portal</title>
        <link rel="stylesheet" href="{% static 'lotOwners/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Big Blue Parking Genie Lot Administration Panel</h1>
            <p>Signed in as Prototype User. (not you? <a href="./logout">logout</a>)</p>
        </header>
        <table>
            <tr>
                <td>
                    <p>Total balance:</p>
                    <h1>$720.00</h1>
                </td>
                <td>
                    <p>Your lots:</p>
                    {% if lots %}
                        <ul>
                            {% for lot in lots %}
                            <li><a href="./lot/{{ lot.id }}">{{ lot.name }}</a>, {{ lot.capacityActual }}/{{ lot.capacityMax }} spots available (<a href="./modify-lot/{{ lot.id }}">Modify/Remove</a>)</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No lots available. <a href="./add-new">Add one...</a></p>
                    {% endif %}
                </td>
            </tr>
        </table>
        <a href="./add-new">Add a new lot</a>
        <br>
        <a href="./transfer-balance">Transfer balance</a>
        <br>
        <a href="./help">Help</a>
    </body>
</html>
