{% load static %}
{% csrf_token %}
<html>
    <head>
        <title>Lot Administration Portal</title>
        <link rel="stylesheet" href="{% static 'lotOwners/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Big Blue Parking Genie Lot Administration Panel</h1>
            <p>Signed in as {{ user.username }}. (not you? <a href="./logout">logout</a>)</p>
        </header>
        <table>
            <tr>
                <td>
                    <p>Total balance:</p>
                    <h1>$720.00</h1>
                </td>
                <td>
                    <p><b>Your lots:</b></p>
                    {% if lots %}
                        <ul>
                            {% for lot in lots %}
                            <li>
                                {{ lot.name }} (<a href="./lot/{{ lot.id }}">Details</a>, <a href="./modify-lot/{{ lot.id }}">Modify or Remove</a>)
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No lots available. <a href="./add-new">Add one...</a></p>
                    {% endif %}
                </td>
                <td>
                    <p><b>Your events:</b></p>
                </td>
            </tr>
        </table>
        <a href="./add-new">Add a new lot</a>
        <br>
        <a href="./transfer-balance">Transfer balance</a>
        <br>
        <a href="./help">Help</a>
    </body>
</html>
