{% load static %}
<html>
    <head>
        <title>Lot Modify</title>
        <link rel="stylesheet" href="{% static 'lotOwners/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Big Blue Parking Genie Lot Administration Panel</h1>
            <p>Signed in as {{ user.username }}. (not you? <a href="./logout">logout</a>)</p>
        </header>
        <p>
            <a href="./">Lot Administration Panel</a> -> Modify lot # {{ lot.id }}
        </p>
        <form action="./{{ lot.id }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="submit">Submit</button>
        </form>
    </body>
</html>
