{% load static %}
<html>
    <head>
        <title>No Entry</title>
        <link rel="stylesheet" href="{% static 'attendant/main.css' %}">
    </head>
    <body class="red">
        <header>
            <h1>Big Blue Parking Genie Lot Attendant</h1>
        </header>
        <p>The reservation is not valid for this event, or perhaps for this lot. Please check the following things:</p>
        <ol>
            <li>Is this reservation for this event?</li>
            <li>Is this reservation for this lot?</li>
            <li>Try entering the reservation ID (or scanning the QR code) again.</li>
        </ol>
        <p>If there is still an issue, contact the lot owner.</p>
        <a href="./">Back</a>
    </body>
</html>
