.cart-view-root {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cart-options-container {
  background-color: #0F2439;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 500px;
  padding-top: 8px;
  padding-bottom: 18px;
}

.cart-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.cart-option-active {
  background-color: #FFFFFF;
  padding: 20px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 60px;
  border-radius: 18px;
  -webkit-box-shadow:  5px 5px 7px #2A4764, -5px -5px 7px #2A4764;
  box-shadow:  5px 5px 7px #2A4764, -5px -5px 7px #2A4764;
}

.cart-option-title-text-active {
  color: #0F2439;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: -10px;

}
.cart-option-price-text-active {
  color: #555555;
  font-weight: 500;
  font-size: 14px;
}


.cart-option-inactive {
  background-color: #2A4764;
  padding: 20px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 60px;
  border-radius: 18px;
}

.cart-option-title-text-inactive {
  color: #DBDBDB;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: -10px;

}
.cart-option-price-text-inactive {
  color: #DBDBDB;
  font-weight: 500;
  font-size: 14px;
}


.cart-options-row {
  justify-content: center;
  display: flex;
  padding-top: 10px;
}

.cart-otions-icon {
  width: 60px;
  margin-bottom: -20px;
}

.cart-details-container {
  background-color: #0F2439;
  height: 700px;
  width: 100%;
  max-width: 500px;
}

.cart-details-divider {
  height: 1px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #2A4764;
}

.space-40 {
  margin-top: 40px;
}

.space-20 {
  margin-top: 20px;
}

.space-30 {
  margin-top: 30px;
}

.cart-details-row {
  padding-left: 28px;
  padding-right: 28px;
  justify-content: space-between;
  display: flex;
  margin-bottom: -5px;
}

.cart-details-text {
 color: #FFF;
}



.cart-total-text {
 color: #FFF;
 font-weight: 700;
 font-size: 22px;
}

.cart-purchase-button-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.cart-map-container {
  border-radius: 12px;
  width: 90%;
  margin-top: 28px;
}

.cart-purchase-button {
  background-color: #FFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 12px;
  -webkit-box-shadow:  5px 5px 7px #2A4764, -5px -5px 7px #2A4764;
  box-shadow:  5px 5px 7px #2A4764, -5px -5px 7px #2A4764;
}

.cart-purchase-button-text {
  padding-left: 30px;
  padding-right: 30px;
  font-size:22px;
  font-weight: 700;
  color: #0F2439;
  margin-top: 14px;
  margin-bottom: 14px;


}
