.lot-card-root {

}

.lot-card-container {
  background-color: #FFF;
  margin: 20px;
  border-radius: 8px;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  position: relative;
  justify-content: flex-start;
  display: flex;
}

.lot-card-price-container {
  background-color: #0F2439;
  width: 26%;
  margin: 8px;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.lot-card-info-container {
  margin-left: 6px;
  width: 100%;
  margin-right: 10px;
}

.lot-card-info-row {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.lot-card-price-text {
  color: #FFF;
  font-size: 22px;
  font-weight: 900;
  padding-right: 20px;
  padding-left: 20px;

}

.lot-card-name-text {
  color: #0F2439;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: -4px;
  margin-top: 10px;

  text-align: left;

}

.lot-card-info-text {
  color: #636363;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -8px;
  text-align: center;

}

.lot-card-info-sub-text {
  color: #a3a3a3;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: center;
}
