.grid-view-root {
  justify-content: center;
  display: flex;
}

.grid-view {
  max-width: 500px;
  align-self: center;
  margin-bottom: 100px;
  min-height: 600px;
  width: 100%;
}

.events-view-root {
  background-color: #e3e3e3;
}

.lot-title-text {
  color: #0F2439;
  margin-top: 40px;
}
