.event-card-container {

}

.reservation-card {
  background-color: #FFF;
  margin: 10px;
  border-radius: 8px;
  -webkit-box-shadow:  15px 15px 27px #c9c9c9, -15px -15px 27px #c9c9c9;
  box-shadow:  15px 15px 27px #c9c9c9, -15px -15px 27px #c9c9c9;
  position: relative;
  padding-bottom: 3px;
}
