{% load static %}
<html>
    <head>
        <title>Lot Details</title>
        <link rel="stylesheet" href="{% static 'university/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Big Blue Parking Genie University Administration Panel</h1>
            <p>Signed in as {{ user.username }}. (not you? <a href="./logout">logout</a>)</p>
        </header>
        <p>
            <a href="../">University Administration Panel</a> -> Lot detail for lot # {{ lot.id }}
        </p>
        <h2>Lot details for lot # {{ lot.id }}</h2>
        <p>Lot name: {{ lot.name }}</p>
        <p>Lot address: {{ lot.address }}</p>
        <p>Google Maps embed:</p>
        <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD7vXYTBfu4QdkDLxs21bSmqrkJAd31pUk&q={{ safeAddress }}">
        </iframe>
        <p>Total small spots: {{ lot.capSmallMax }}</p>
        <p>Total medium spots: {{ lot.capMediumMax }}</p>
        <p>Total large spots: {{ lot.capLargeMax }}</p>
    </body>
</html>
